In [1]:
#%cd C:/Users/Mathieu/Desktop/Projets/Benter
%cd /home/mathieu/Mindsay/mathieu/Benter-Project

/home/mathieu/Mindsay/mathieu/Benter-Project

In [2]:
%matplotlib inline
import collections
import functools
import json

from matplotlib import pyplot as plt
import numpy as np
import tensorflow as tf
import seaborn as sns
import pandas as pd
from tqdm import tqdm
from joblib import Memory
from scipy.spatial import distance

from utils import import_data
from utils import wagering_stategy
from utils import permutations
from utils import preprocess
from winning_horse_models.logistic_regression import LogisticRegressionModel
from constants import PMU_BETTINGS, SOURCE_PMU
from utils.wagering_stategy import compute_expected_return, compute_scenario, plot_scenario
import wagering_stategies
from wagering_stategies import factories as wagering_factories
from constants import CACHE_DIR
from winning_validation.r_squared import compute_mcfadden_r_squared
from winning_validation import errors
from training_procedures import sequential_training
from typing import List, Tuple
from winning_horse_models import AbstractWinningModel
from sklearn.feature_selection import SelectKBest, mutual_info_classif, SelectFpr, f_classif

from matplotlib import style
style.use('ggplot')

winning_model = LogisticRegressionModel.load_model()
SOURCE='PMU'
source=SOURCE

In [3]:
import featuretools as ft

In [4]:
train_races_df=import_data.get_split_date(source=SOURCE, on_split="train")

/home/mathieu/.pyenv/versions/3.7.4/envs/venv_benter/lib/python3.7/site-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (35,46,47,61,62,63,64,87) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

In [5]:
train_races_df.columns

Index(['horse_name', 'horse_number', 'horse_age', 'horse_sex', 'horse_race',
       'statut', 'placeCorde', 'owner_name', 'trainer_name', 'jockey_name',
       'driverChange', 'tauxReclamation', 'indicateurInedit', 'musique',
       'n_run_races', 'n_won_races', 'n_placed_races', 'father_horse_name',
       'mother_horse_name', 'horse_place', 'is_pregnant', 'engagement',
       'supplement', 'handicap_distance', 'poidsConditionMonteChange',
       'horse_race_duration', 'reductionKilometrique', 'allure', 'n_reunion',
       'n_course', 'date', 'race_datetime', 'in_incident', 'incident_type',
       'totalEnjeu', 'last_race_date', 'handicap_weight',
       'is_true_total_enjeu', 'reunion_nature', 'reunion_audience',
       'reunion_pays', 'course_statut', 'course_discipline',
       'course_specialite', 'course_condition_sexe', 'course_condition_age',
       'course_track_type', 'course_penetrometre', 'course_corde',
       'course_hippodrome', 'course_parcours', 'course_distance',
       'course_distance_unit', 'course_duration', 'course_prize_pool',
       'course_winner_prize', 'incident', 'handicapPoids',
       'father_mother_horse_name', 'poidsConditionMonte', 'blinkers', 'ecurie',
       'unshod', 'breeder_name', 'urlCasaque', 'horse_career_prize',
       'gainsVictoires', 'gainsPlace', 'horse_current_year_prize',
       'horse_last_year_prize', 'nombrePlacesSecond', 'nombrePlacesTroisieme',
       'handicap_value', 'horse_id', 'father_horse_id', 'mother_horse_id',
       'father_mother_horse_id', 'race_id', 'n_horses', 'pari_mutuel_proba',
       'odds', 'win_ratio', 'mean_place', 'jockey_win_rate',
       'jockey_mean_place', 'trainer_win_rate', 'trainer_mean_place',
       'duration_since_last_race', 'complete_past_races'],
      dtype='object')

In [ ]:
['incident', 'horse_number', 'horse_age', 'horse_sex',
 
       'statut', 'placeCorde', 'driverChange', 'tauxReclamation', 'indicateurInedit', 'musique',
       'n_run_races', 'n_won_races', 'n_placed_races', 'horse_place', 'is_pregnant', 'engagement',
       'supplement', 'handicap_distance', 'poidsConditionMonteChange',
       'horse_race_duration', 'reductionKilometrique', 'in_incident', 'incident_type',
       'totalEnjeu', 'last_race_date', 'handicap_weight',
       'is_true_total_enjeu',
 'handicapPoids',
        'poidsConditionMonte', 'blinkers',
       'unshod', 'horse_career_prize',
       'gainsVictoires', 'gainsPlace', 'horse_current_year_prize',
       'horse_last_year_prize', 'nombrePlacesSecond', 'nombrePlacesTroisieme',
       'handicap_value', 'pari_mutuel_proba',
       'odds']

horse_in_race
race_result

In [8]:
racetrack_columns = ["course_hippodrome", "reunion_pays"]
racetrack_df = (
    train_races_df[racetrack_columns]
    .drop_duplicates()
    .reset_index()
    .drop(columns="index")
    .reset_index()
)
racetrack_df.rename(
    columns={
        "course_hippodrome": "racetrack_name",
        "reunion_pays": "country",
        "index": "id",
    },
    inplace=True,
)
racetrack_df = racetrack_df[pd.notna(racetrack_df["racetrack_name"])]
assert racetrack_df["racetrack_name"].value_counts().max() == 1

horse_show_columns = ["reunion_nature", "reunion_audience", "course_hippodrome"]
horse_show_df = (
    train_races_df.groupby(["date", "n_reunion"])[horse_show_columns]
    .first()
    .reset_index()
    .reset_index()
)
horse_show_df.rename(columns={"index": "id"}, inplace=True)
horse_show_df["racetrack_id"] = horse_show_df["course_hippodrome"].map(
    racetrack_df.set_index("racetrack_name")["id"]
)
horse_show_df["racetrack_id"].fillna(0, inplace=True)
horse_show_df["racetrack_id"] = horse_show_df["racetrack_id"].astype(np.int64)

race_columns = [
    "n_course",
    "n_horses",
    "course_statut",
    "course_discipline",
    "course_specialite",
    "course_condition_sexe",
    "course_condition_age",
    "course_track_type",
    "course_penetrometre",
    "course_corde",
    "course_hippodrome",
    "course_parcours",
    "course_distance",
    "course_distance_unit",
    "course_duration",
    "course_prize_pool",
    "course_winner_prize",
    "date",
    #"race_datetime",
    "n_reunion",
    "allure",
]

race_df = train_races_df[race_columns].drop_duplicates()
race_df["name"] = race_df["date"].str.cat(
    ["R" + race_df["n_reunion"].astype(str), "C" + race_df["n_course"].astype(str)],
    sep="_",
)

assert race_df["name"].value_counts().max() == 1

race_df = race_df.reset_index(drop=True).reset_index()

race_df.rename(
    columns={"index": "id", "race_datetime": "datetime", "allure": "pace"},
    inplace=True,
)
race_df.rename(
    columns={
        column_name: column_name.replace("course_", "")
        for column_name in race_df.columns
        if column_name.startswith("course_")
    },
    inplace=True,
)

race_df["horse_show_id"] = [
    horse_show_df[
        (horse_show_df["date"] == d) & (horse_show_df["n_reunion"] == n_r)
    ]["id"].iloc[0]
    for d, n_r in zip(race_df["date"], race_df["n_reunion"])
]

race_df["horse_show_id"] = race_df["horse_show_id"].astype(np.int64)

trainer_df = pd.Series(
    train_races_df["trainer_name"].unique(), name="trainer_name"
).reset_index()
trainer_df.rename(columns={"index": "id", "trainer_name": "trainer"}, inplace=True)

jockey_df = pd.Series(
    train_races_df["jockey_name"].unique(), name="name"
).reset_index()
jockey_df.rename(columns={"index": "id"}, inplace=True)

owner_df = pd.Series(
    train_races_df["owner_name"].unique(), name="name"
).reset_index()
owner_df.rename(columns={"index": "id"}, inplace=True)

breeder_df = pd.Series(
    train_races_df["breeder_name"].unique(), name="name"
).reset_index()
breeder_df.rename(columns={"index": "id"}, inplace=True)

stable_df = pd.Series(train_races_df["ecurie"].unique(), name="name").reset_index()
stable_df.rename(columns={"index": "id"}, inplace=True)

horse_entity_set = ft.EntitySet("HorseEntitySet")
horse_entity_set.entity_from_dataframe(
    entity_id="racetrack", dataframe=racetrack_df, index="id"
)
horse_entity_set.entity_from_dataframe(
    entity_id="horse_show", dataframe=horse_show_df, index="id"
)
horse_entity_set.entity_from_dataframe(
    entity_id="race", dataframe=race_df, index="id"
)
horse_entity_set.entity_from_dataframe(
    entity_id="jockey", dataframe=jockey_df, index="id"
)
horse_entity_set.entity_from_dataframe(
    entity_id="trainer", dataframe=trainer_df, index="id"
)
horse_entity_set.entity_from_dataframe(
    entity_id="owner", dataframe=owner_df, index="id"
)
horse_entity_set.entity_from_dataframe(
    entity_id="breeder", dataframe=breeder_df, index="id"
)
horse_entity_set.entity_from_dataframe(
    entity_id="stable", dataframe=stable_df, index="id"
)
horse_entity_set.add_relationship(
    ft.Relationship(
        horse_entity_set["racetrack"]["id"],
        horse_entity_set["horse_show"]["racetrack_id"],
    )
)
horse_entity_set.add_relationship(
    ft.Relationship(
        horse_entity_set["horse_show"]["id"],
        horse_entity_set["race"]["horse_show_id"],
    )
)

Entityset: HorseEntitySet
  Entities:
    racetrack [Rows: 320, Columns: 3]
    horse_show [Rows: 11771, Columns: 7]
    race [Rows: 80250, Columns: 23]
    jockey [Rows: 16945, Columns: 2]
    trainer [Rows: 16144, Columns: 2]
    owner [Rows: 56962, Columns: 2]
    breeder [Rows: 12474, Columns: 2]
    stable [Rows: 7, Columns: 2]
  Relationships:
    horse_show.racetrack_id -> racetrack.id
    race.horse_show_id -> horse_show.id

In [28]:
dir(horse_df[horse_df['id']==0]['father_mother_horse_name'].value_counts())

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [74]:
horse_df['id'].value_counts()[horse_df['id'].value_counts()==horse_df['id'].value_counts().max()]

7055     9
6083     9
14990    9
Name: id, dtype: int64

In [76]:
horse_df[horse_df['id']==6083]

,horse_race,name,id,father_id,mother_id,father_mother_id
6900,TROTTEUR ETRANGER,SAKIMA,6083,170794.0,180386.0,NaN
21594,PUR-SANG,SAKIMA,6083,100835.0,178832.0,13152.0
76826,TROTTEUR ETRANGER,SAKIMA,6083,180386.0,170794.0,NaN
111348,PUR-SANG,SAKIMA,6083,178832.0,100835.0,13152.0
177649,TROTTEUR FRANCAIS,SAKIMA,6083,180386.0,170794.0,NaN
420517,TROTTEUR FRANCAIS,SAKIMA,6083,178765.0,193925.0,NaN
491235,TROTTEUR FRANCAIS,SAKIMA,6083,178952.0,214641.0,NaN
519616,TROTTEUR ETRANGER,SAKIMA,6083,178952.0,214641.0,NaN
688129,PUR-SANG,SAKIMA,6083,179016.0,199053.0,44157.0

In [49]:
train_races_df['horse_race'].sample(10)

650484             PUR-SANG
178793             PUR-SANG
196317             PUR-SANG
549465    TROTTEUR FRANCAIS
870182             PUR-SANG
286651    TROTTEUR FRANCAIS
203938    TROTTEUR FRANCAIS
227504    TROTTEUR FRANCAIS
603376    TROTTEUR FRANCAIS
339339    TROTTEUR FRANCAIS
Name: horse_race, dtype: object

In [41]:
train_races_df['allure'].sample(10)

23210     GALOP
888208    GALOP
987741     TROT
975325     TROT
170231     TROT
68400      TROT
160029     TROT
252204    GALOP
975319     TROT
34560     GALOP
Name: allure, dtype: object

In [43]:
train_races_df['course_specialite'].sample(10)

1003705    TROT_ATTELE
896022            PLAT
434305            PLAT
205064            PLAT
382342            PLAT
380270      TROT_MONTE
295472     TROT_ATTELE
401798     TROT_ATTELE
70890      TROT_ATTELE
794696            PLAT
Name: course_specialite, dtype: object

In [21]:
trainer_df['trainer_name'].str.split().str[-1].value_counts().head(10)

(S)          215
M.            60
JR.           52
GB)           51
R.            50
C.            36
GONZALEZ      33
MARTIN        33
RODRIGUEZ     33
A.            29
Name: trainer_name, dtype: int64

In [30]:
trainer_df[trainer_df['trainer_name'].str.contains(r' MARTIN$', na=False)]['trainer_name']

642             L.J.J. MARTIN
651                 E. MARTIN
780                 P. MARTIN
947               L.A. MARTIN
2058             A. J. MARTIN
2664              L.B. MARTIN
2961            ANDREW MARTIN
3191             ED.A. MARTIN
3284            J.J.L. MARTIN
3581           PATRICK MARTIN
3833                M. MARTIN
4326                J. MARTIN
4331              L.J. MARTIN
4894               TH. MARTIN
5082              W.J. MARTIN
5232             W. J. MARTIN
5424      CESAR ANDRES MARTIN
5736     SEBASTIAN SAN MARTIN
6762           WILLIAM MARTIN
6984              G.C. MARTIN
9263              S.P. MARTIN
9268              O.C. MARTIN
10400               G. MARTIN
10776            WEBER MARTIN
12179                S MARTIN
12330               S. MARTIN
12634              A J MARTIN
13148               O. MARTIN
13207              G C MARTIN
14216              C W MARTIN
14461              T R MARTIN
14864             PISL MARTIN
15190            BELKA MARTIN
Name: trainer_name, dtype: object

In [ ]:
# Appendix

In [197]:
a=train_races_df.groupby('horse_name')['horse_sex'].nunique()

In [198]:
a=a[a==a.max()]

In [233]:
b=train_races_df.groupby('horse_name')['ecurie'].nunique()
b[b==b.max()]

horse_name
VULCAIN DU CLOS    5
Name: ecurie, dtype: int64

In [235]:
train_races_df[train_races_df['horse_name']=="VULCAIN DU CLOS"]['ecurie']

26602     NaN
36427       A
53891       B
70253       B
82776     NaN
101592    NaN
113666    NaN
127811    NaN
185909    NaN
194186      B
200832      A
218226    NaN
316333      E
331467      C
418904    NaN
524968      D
734674      C
Name: ecurie, dtype: object

In [211]:
train_races_df[train_races_df['horse_name']=='ADEN'][['date', 'horse_age','horse_sex', 'reunion_pays', 'owner_name']]

              date  horse_age horse_sex reunion_pays          owner_name
10728   2013-03-16          3     MALES          FRA  Ecurie des CHARMES
14374   2013-03-23          3     MALES          FRA  Ecurie des CHARMES
25702   2013-04-16          3     MALES          FRA  Ecurie des CHARMES
40345   2013-05-18          3     MALES          FRA  Ecurie des CHARMES
112020  2013-10-04          3  FEMELLES          FRA     H.H. M.AL THANI
165357  2014-01-05          4     MALES          FRA  Ecurie des CHARMES
173038  2014-01-19          4     MALES          FRA  Ecurie des CHARMES
177279  2014-01-27          4     MALES          FRA  Ecurie des CHARMES
196714  2014-03-06          4     MALES          FRA  Ecurie des CHARMES
201418  2014-03-14          4     MALES          FRA  Ecurie des CHARMES
211338  2014-03-30          4     MALES          FRA  Ecurie des CHARMES
222422  2014-04-20          4     MALES          FRA  Ecurie des CHARMES
236723  2014-05-12          4     MALES          FRA  Ecurie des CHARMES
253251  2014-06-11          4     MALES          FRA  Ecurie des CHARMES
255027  2014-06-15          4  FEMELLES          FRA     H.H. M.AL THANI
266605  2014-07-05          4     MALES          FRA  Ecurie des CHARMES
275278  2014-07-21          4     MALES          FRA  Ecurie des CHARMES
284668  2014-08-08          4     MALES          FRA  Ecurie des CHARMES
300197  2014-09-07          4     MALES          FRA  Ecurie des CHARMES
303845  2014-09-14          4  FEMELLES          FRA     H.H. M.AL THANI
315138  2014-10-04          4  FEMELLES          FRA     H.H. M.AL THANI
421373  2015-04-01          5     MALES          FRA  Ecurie des CHARMES
441327  2015-05-06          5     MALES          FRA  Ecurie des CHARMES
447308  2015-05-17          5     MALES          FRA  Ecurie des CHARMES
452058  2015-05-25          5     MALES          FRA  Ecurie des CHARMES
466014  2015-06-20          5     MALES          FRA  Ecurie des CHARMES
468863  2015-06-26          5     MALES          FRA  Ecurie des CHARMES
488954  2015-07-31          5     MALES          FRA  Ecurie des CHARMES
496649  2015-08-14          5     MALES          FRA  Ecurie des CHARMES
503995  2015-08-28          5     MALES          FRA  Ecurie des CHARMES
516835  2015-09-20          5     MALES          FRA  Ecurie des CHARMES
522452  2015-09-29          5     MALES          FRA  Ecurie des CHARMES
545945  2015-11-06          5   HONGRES          FRA  Ecurie des CHARMES
562697  2015-11-30          5   HONGRES          FRA  Ecurie des CHARMES
623726  2016-03-20          6   HONGRES          FRA  Ecurie des CHARMES
627780  2016-03-27          6   HONGRES          FRA  Ecurie des CHARMES
636614  2016-04-10          6   HONGRES          FRA  Ecurie des CHARMES
639564  2016-04-16          6   HONGRES          FRA  Ecurie des CHARMES
644034  2016-04-24          6   HONGRES          FRA  Ecurie des CHARMES
646761  2016-04-29          6   HONGRES          FRA  Ecurie des CHARMES
653987  2016-05-10          6   HONGRES          FRA  Ecurie des CHARMES
658117  2016-05-19          6   HONGRES          FRA  Ecurie des CHARMES
660361  2016-05-22          6   HONGRES          FRA  Ecurie des CHARMES
696220  2016-07-26          6   HONGRES          FRA       Mlle M. GOETZ
699902  2016-08-01          6   HONGRES          FRA       Mlle M. GOETZ
726355  2016-09-17          6   HONGRES          FRA       Mlle M. GOETZ
740326  2016-10-10          6   HONGRES          FRA       Mlle M. GOETZ
757282  2016-11-06          6   HONGRES          FRA       Mlle M. GOETZ
848204  2017-04-10          7   HONGRES          FRA            V. GOETZ
854094  2017-04-21          7   HONGRES          FRA            V. GOETZ
876162  2017-05-28          7   HONGRES          FRA            V. GOETZ
904712  2017-07-17          7   HONGRES          FRA            V. GOETZ
913663  2017-08-01          7   HONGRES          FRA            V. GOETZ
948342  2017-10-01          7   HONGRES          FRA     Mlle M.A. GOETZ
957174  2017-10-16          7   HONGRES          FRA       Mlle M. GOETZ
965426  2017-10-29          7   HONGRES          FRA       Mlle M. GOETZ

In [224]:
owner_df=train_races_df['owner_name'].str.upper().drop_duplicates()

SC HOE                              1
D.J. HENRY                          1
G. LOUIS                            1
TAN DR K C                          1
W.ROSCHI                            1
                                   ..
MELEJ R GABRIEL                     1
MM. GAVIN GLOVER, R. & A. JUHEL     1
J.Y. ROZE                           1
T.GEHRIG                            1
MR W H W & MRS N S REUSCH, MESSR    1
Name: owner_name, Length: 55388, dtype: int64

In [221]:
train_races_df['trainer_name']

0                 V. GOETZ
1                 H. GRIFT
2              E. AUDEBERT
3                 F. TERRY
4            D. LOCQUENEUX
                ...
1005233          M. BEZIER
1005234          D. VALLEE
1005235        L. BARASSIN
1005236         M. LECOURT
1005237    TH. DUVALDESTIN
Name: trainer_name, Length: 1005238, dtype: object